@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* HEADER */
.page-header {
  display: flex;
  gap: 20px;
  padding: 0 70px;
}

.header-logo {
  margin-bottom: -10px;
  z-index: 1;
}

.page-header-logo:hover {
  opacity: 0.8;
}

/* NAVIGATION */
.navigation {
  display: flex;
  gap: 28px;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  transition: all 0.5s;
}

.navigation-link:hover {
  opacity: 0.8;
  transition: all 0.5s;
}

.navigation-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* Толщина подчеркивания */
  background-color: black; /* Цвет подчеркивания */
  transition: width 0.3s ease; /* Анимация */
  pointer-events: none; /* Чтобы подчеркивание не мешало клику */
}

.navigation-link:hover::after {
  width: 100%; /* Полное подчеркивание при наведении */
}
/* USER */
.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  min-width: 44px;
  min-height: 64px;
  transition: all 0.5s;
}

.user-link:hover {
  color: #68A2CA;
  transition: all 0.5s;
}

.counter-favorites {
  position: absolute;
  top: 11px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.header-button {
  align-self: center;
  min-width: 160px;
  padding: 8px 34px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:focus-visible {
  background-color: #615048;
}

.header-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.header-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}


.main-index {
  flex-grow: 1;
}


/* HERO */
.hero {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #769ec2;
  background-image: url("../images/hero-vector.svg"), url("../images/index-background(1).jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 0 center, center center;
  background-size: contain, cover;
}

.hero-image {
  display: block;
}

/* ADVANTAGES */
.advantages {
  display: flex;
  flex-direction: column;
  padding: 69px 0 0;
}

.advantages-heading {
  margin: 0 0 25px;
  padding: 0 286px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-main-description {
  margin: 0 0 90px;
  padding: 0 272px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  text-align: center;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  gap: 60px;
  width: 400px;
  padding: 85px;
}

.advantages-item-image {
  grid-column: span 3;
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-image-2 {
  flex-direction: row-reverse;
}

.advantages-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 60px;
  width: 400px;
  min-height: 385px;
  padding: 85px;
}

.advantages-item-image .advantages-description {
  color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.advantages-item-description:nth-child(odd) {
  background: rgba(130, 179, 211, 0.2);
}

.advantages-item-description:nth-child(even) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-title::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  content: "";
  width: 60px;
  height: 2px;
  transform: translateX(-50%);
  background-color: currentColor;
  opacity: 0.3;
}

.advantages-image {
  background-color: #82b3d3;
}

/* FRAME 36 */

.sedona-about {
  display: flex;
  flex-direction: column;
  padding: 64px 0 0;
  text-align: center;
}

.sedona-about-title {
  margin: 0 0 20px;
  padding: 0 347px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.sedona-about-personal {
  margin: 0 0 64px;
  padding: 0 355px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

/* FRAME 40  */
.recomendation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.recomendation-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  flex-grow: 1;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding: 160px 85px 80px;
}

.recomendation-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.recomendation-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.recomendation-description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.recomendation-home {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 385px;
  margin: 100 auto;
  box-sizing: border-box;
}

.recomendation-food {
  background-color: transparent;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 385px;
  margin: 100 auto;
  box-sizing: border-box;
}

.recomendation-souvenirs {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 385px;
  margin: 100 auto;
  box-sizing: border-box;
}

/* HOTEL-SEARCH */
.hotel-search{
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  text-align: center;
}

.hotel-search-title {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-description {
  margin: 0 0 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.hotel-search-button {
  width: 376px;
  height: 52px;
  align-self: center;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-index-button:hover {
  background-color: #6b5148;
}

/* SUBSCRIBE */
.subscribe {
  display: flex;
  flex-direction: column;
  padding: 96px 258px 105px;
  text-align: center;
  color: #ffffff;
  background-color: #68a3ca;
  background-image: url("../images/Subscribe(1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0 0 54px;
  padding: 0 104px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.subscribe-box {
  display: flex;
  justify-content: center;
}

.subscribe-input {
  flex-grow: 1;
  padding: 12px 20px;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  background: #82b3d3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
}

form button:hover {
  background-color: #4b8bb1; /* Изменение цвета кнопки при наведении */
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

/* CONTACT-INFORMATION */

.contact-information-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contact-information-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  color: #83b3d3;
  outline: none;
}

.contact-information-link:hover {
  color: #68a2ca;
}

.contact-information-link:focus-visible {
  color: #68a2ca;
}

.contact-information-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.contacts-address-phone-number {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding: 5px 5px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}

.contacts-address-phone-number:hover {
  color: #756157;
}

.contacts-address-phone-number:focus-visible {
  color: #756157;
}

.contacts-address-phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.contacts-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  outline: none;
}

.contacts-logo:hover {
  color: #756157;
}

.contacts-logo:focus-visible {
  color: #756157;
}

.contacts-logo:active {
  color: rgba(117, 97, 87, 0.3);
}







.background-photo-hotels {
  position: absolute;
  top: 100;
  left: 0;
  width: 1200px;
  height: 412px;
  object-fit: cover; /* Масштабируем фото, чтобы оно занимало весь блок */
  z-index: -1; /* Фон должен быть позади текста */
  flex-direction: column;
  align-items: flex-start;
}




/* General container */
.container-2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styling */
.hotel-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hotel-list-header h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.hotel-list-controls {
  display: flex;
  align-items: center;
}

.hotel-list-controls select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  gap: 94px;

  width: 292px;
  height: 49px;

  font-size: 16px;
  margin-right: 20px;
  border-radius: 4px;
  border: 2px solid #E5E5E5
}

.view-controls button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  gap: 10px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;

  width: 48px;
  height: 48px;

  border: 2px solid #E5E5E5;
  border-radius: 4px;

  flex: none;
  order: 1;
  flex-grow: 0;

}

.view-controls button.active {
  border: 2px solid #000000;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  gap: 10px;

  width: 48px;
  height: 48px;
}


/* Hotel cards */
.hotel-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.hotel-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.hotel-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.hotel-card h3 {
  font-size: 20px;
  margin: 15px 0;
}

.hotel-card p {
  font-size: 16px;
  margin: 5px 0;
}

.details-btn, .favorite-btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.details-btn {
  background-color: #7f5f2d;
  color: #fff;
}

.favorite-btn {
  background-color: #82c386;
  color: #fff;
}

.rating {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating span img {
  margin-right: 5px;
}

.rating p {
  font-size: 14px;
  margin-left: 10px;
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 4px;

  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  color: #000000;
}

.pagination button {
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;

  width: 60px;
  height: 60px;

  left: 39.09%;
  right: 40.91%;
  top: 18.94%;
  bottom: 21.06%;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  color: #FFFFFF;
}

.pagination button:hover {
  background-color: #679ab6;
}

.pagination button:focus {
  background-color: #4f7b91;
}

.pagination button:first-child {
  background-color: #f4f4f4;
  color: black;
}

.pagination span {
  font-size: 18px;
  color: #808080;
}
